[submodule "recipes/self-managed-otlp-ingest/uninstrumented-app"]
	path = recipes/self-managed-otlp-ingest/uninstrumented-app
	url = https://github.com/GoogleCloudPlatform/opentelemetry-operations-java.git
